[user]
  email = 
  name = 
[core]
  editor = vim
  pager = delta --dark
[log]
  decorate = true
  abbrevCommit = true
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green
  whitespace = red reverse
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold
[credential]
	helper = osxkeychain
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[gitflow "prefix"]
  feature = feat/
  release = rel/
  hotfix = hf/
  support = supp/
  versiontag = v
[alias]
  a = add
  aa = add --all
  ####
  b = branch
  ba = branch -a
  ####
  c = commit
  cs = commit -S
  ca = commit -a
  cm = commit -m
  co = checkout
  cob = checkout -b
  ####
  d = diff
  dt = difftool -y
  dad = !curl https://icanhazdadjoke.com/
  ####
  fa = fetch --all
  fl = flow
  ft = feat
  fpr = "!f(){ ( git fetch origin pull/\"$1\"/head:pull/\"$2\" && git checkout pull/\"$2\"; ) || echo "Arguments required: PR number, branch name" >&2; };f"
  ###
  l = log --graph --all
  ls = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lp = log -p
  lol =  "!f() { git log --oneline -\"$1\"; };f"
  ###
  m = merge --no-ff
  mff = merge
  ###
  ps = push
  pn = push --no-verify
  psu = "!f(){ git push -u origin $(git rev-parse --abbrev-ref HEAD); };f"
  pnu = "!f(){ git push --no-verify -u origin $(git rev-parse --abbrev-ref HEAD); };f"
  pl = pull
  po = push -u origin
  pr = pull-request
  ####
  ra = remote add origin
  rhh = reset --hard HEAD
  rmc = rm --cached
  rv = remote -v
  rs = restore --staged
  ####
  s = status
  sv = status -v
  ####
  wd = diff --word-diff
[push]
	default = simple
[rerere]
	enabled = true
